<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.Top12Activity"
            android:label="Top 12 Must See"
            android:parentActivityName=".screens.MainActivity"></activity>
        <activity android:name=".screens.SearchActivity"
            android:label="Search a Movie"
            android:parentActivityName=".screens.MainActivity"></activity>
        <activity android:name=".screens.SavedActivity"
            android:label="Saved Movies"
            android:parentActivityName=".screens.MainActivity"></activity>
        <activity android:name=".screens.RecommendationCSActivity"
            android:label="Recommendation"
            android:parentActivityName=".screens.MainActivity"></activity>
        <activity android:name=".screens.RecommendationActivity"
            android:label="Recommendation"
            android:parentActivityName=".screens.RecommendationCSActivity"></activity>
        <activity android:name=".screens.RateActivity"
            android:label="Rate the movie"
            android:parentActivityName=".screens.MainActivity"></activity>
        <activity android:name=".screens.RateCSActivity"
            android:label="Rate the movie"
            android:parentActivityName=".screens.RateActivity"></activity>
        <activity android:name=".screens.HistoryActivity"
            android:label="History"
            android:parentActivityName=".screens.MainActivity"></activity>
    </application>

</manifest>