<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Top10Activity"
            android:label="Top 12 Must See"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SearchActivity"
            android:label="Search a Movie"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SavedActivity"
            android:label="Saved Movies"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".RecommendationCSActivity"
            android:label="Recommendation"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".RecommendationActivity"
            android:label="Recommendation"
            android:parentActivityName=".RecommendationCSActivity"></activity>
        <activity android:name=".RateActivity"
            android:label="Rate the movie"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".RateCSActivity"
            android:label="Rate the movie"
            android:parentActivityName=".RateActivity"></activity>
        <activity android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>